<div ng-controller="cardsCtrl" class="cards-content" ng-class="{loading: !search.results}">
    <div class="cards-grid" masonry="{ transitionDuration: 0 }">        
        <div ng-if="!filteredCards.length" class="text-center bottom20">
            <span translate>CARDS_NO_RESULTS_TEXT</span>
            <p class="text-muted" ng-if="hasActivatedFilters()" translate>
                CARDS_TOO_MUCH_FILTERS
            </p>
        </div>
        <div class="card masonry-brick" 
             ng-repeat="d in filteredCards = (search.results | filter:cardsFilter)"
             ng-init="d.details_visible = false"
             ng-class="{active: d.details_visible, sticky: d.sticky}">

            <div class="card-body">
                <div class="card-wrapper" ng-class="d.show">

                    <div class="card-sharing">
                        <h6 translate>SHARE_THIS_STORY_TITLE</h6>
                        <input class="form-control" readonly="true" value="[[sharingAddress(d)]]" />
                        <h6 translate>EMBED_THIS_STORY_TITLE</h6>
                        <textarea readonly="true" class="form-control">[[embedFrame(d)]]</textarea>
                    </div>

                    <div class="card-preview">
                        <h6>
                            [[d|cardEquivalent]]
                            <i class="icon-bookmark pull-right" ng-if="d.sticky"></i>
                        </h6>
                        <h5>
                            [[ d.title ]]
                        </h5>
                    </div>

                    <div class="card-infos">
                        <h6>[[d.value|humanizeValue:d.currency.iso_code]]</h6>
                        <p>
                            <i class="icon-calendar"></i> [[d.year]]
                            <span ng-if="d.source">
                                &#8212; <a ng-href="[[d.source]]" translate>CARDS_SOURCE_BUTTON</a>
                            </span>
                        </p>
                        <!--p>
                            <a class="embed" ng-if="d.details_visible">
                                <i class="icon-share"></i>&nbsp;Click to copy the embed code
                            </a>
                        </p-->
                        <p class="desc">
                            [[d.description]]
                        </p>

                        <ul class="list-inline" ng-if="d.themes">
                            <li ng-repeat="theme in d.themes" class="theme">
                                <img ng-src="[[theme.image]]" ng-if="theme.image" />
                                [[theme.title]]
                            </li>
                        </ul>
                    </div>

                </div>
            </div>

            <div class="card-footer">
                <a ng-click="showSharing(d)" class='sharing toggler clickable'>
                    <i class="icon-share"></i>&nbsp;[[ 'SHARE_STORY_BUTTON' | translate ]]</a>

                <a ng-click="showDetails(d)" class="toggler clickable">
                    <i class="icon-eye-open"></i>&nbsp;[[ 'CARDS_MORE_INFO_BUTTON' | translate ]]</a>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
