<form class="contribute panel panel-default" 
	  ng-class="{
	  	'loading': loading,
	  	'panel-success': isDone()
	  }"	  
	  role="form" 
	  name="contribForm"
	  ng-submit="submit()">

	<div class="panel-heading">
		<h2 translate>CONTRIBUTE_TITLE</h2>

		<div ng-show="isDone()">
			<p class="bottom0" translate>CONTRIBUTE_THANKS_MESSAGE</p>
			<p class="bottom20" translate>CONTRIBUTE_APPROVING_MESSAGE</p>
			 <button type="button" class="btn btn-default" ng-click="reset()">[[ 'CONTRIBUTE_AGAIN_BUTTON' | translate ]]</button>	
		</div>

		<p ng-hide="isDone()" translate>CONTRIBUTE_PLEASE_CONTRIBUTE_MESSAGE</p>
		</p>
	</div>

	<div class="row list-unstyled text-center steps-nav" ng-hide="isDone()">
		<li class="col-xs-4" ng-class="{ disabled: step != 0 }">
			<strong>Step 1</strong><br />[[ 'CONTRIBUTE_SPENDING_QUESTION' | translate ]]</span>
		</li>
		<li class="col-xs-4" ng-class="{ disabled: step != 1 }">
			<strong>Step 2</strong><br />[[ 'CONTRIBUTE_STORY_QUESTION' | translate ]]</span> 
		</li>
		<li class="col-xs-4" ng-class="{ disabled: step != 2 }">
			<strong>Step 3</strong><br />[[ 'CONTRIBUTE_STORY_DESCRIPTION' | translate ]]</span>
		</li>
	</div>
	
	<fieldset class="step" ng-disabled="loading" ng-show="step == 0" ng-form="stepForm0">
		<div class="form-group">
			<label class="control-label" for="input-currency">
				[['CONTRIBUTE_CURRENCY_LABEL' | translate ]]
			</label>
			<select ng-options="c.iso_code as c.name for (iso_code, c) in currencies" 					
					id="input-currency" 
					ng-model="story.currency"
			        selectpicker
					required></select>
		</div>	
		<div class="form-group">
			<label class="control-label" for="input-value" translate>CONTRIBUTE_AMOUNT_LABEL</label>
			<p class="pull-right">[[story.value|humanizeValue:story.currency.iso_code]]</p>
			<input required type="number" class="form-control" placeholder="Ex: 14367000 [[ 'CONTRIBUTE_FOR' | translate ]] 14,367,000" id="input-value" name="value" ng-model="story.value" />
			<p class="help-block" translate>
				CONTRIBUTE_AMOUNT_HELP_BLOCK
			</p>
		</div>
	</fieldset>

	<fieldset class="step" ng-disabled="loading" ng-show="step == 1" ng-form="stepForm1">
		<div class="breadcrumb">
			<strong>[[story.value|humanizeValue:story.currency.iso_code]]</strong> <span translate>CONTRIBUTE_AMOUNT_IS</span>
		</div>
		<div class="form-group">
			<label class="control-label" for="input-title" translate>CONTRIBUTE_STORY_TITLE_LABEL</label>
			<input required type="text" class="form-control" id="input-title" ng-model="story.title" />			
		</div>
		<div class="form-group">
			<label class="control-label" for="input-title" translate>CONTRIBUTE_STORY_DESCRIPTION_LABEL</label>
			<textarea required class="form-control" id="input-description" ng-maxlength="500" ng-model="story.description" />			
		</div>
		<div class="form-group">
			<label class="control-label" for="input-country" translate>CONTRIBUTE_STORY_COUNTRY_LABEL</label>	
			<select ng-options="c.iso_code as c.name for c in countries" 					
					id="input-country" 
					ng-model="story.country" 
			        selectpicker
					required></select>	
		</div>
		<div class="form-group">
			<label class="control-label" for="input-year" translate>CONTRIBUTE_STORY_YEAR_LABEL</label>
			<input required type="number" class="form-control" id="input-year" ng-model="story.year" />			
		</div>
	</fieldset>
	
	<fieldset class="step" ng-disabled="loading" ng-show="step == 2"  ng-form="stepForm2">
		<div class="breadcrumb">
			<strong>[[story.value|currency:story.currency]]</strong> <span translate>CONTRIBUTE_IS_THE_COST_OF</span> <strong>[[story.title]]</strong>.
			<span translate>CONTRIBUTE_MORE_INFO_QUESTION</span>
		</div>
		<div class="form-group">
			<label class="control-label" translate>CONTRIBUTE_STORY_CONTINUOUS_CHECKBOX_LABEL</label>
			<div class="radio">
				<label>
					<input type="radio" ng-model="story.type" name="type" ng-value="'discrete'" />
					<span translate>CONTRIBUTE_DISCRETE_STORY_LABEL</span>
				</label>
			</div>
			<div class="radio">
				<label>
					<input type="radio" ng-model="story.type" name="type" ng-value="'over_one_year'"/>
					<span translate>CONTRIBUTE_CONTINUOUS_STORY_LABEL</span>
				</label>
			</div>
		</div>		
		<div class="form-group">
			<label class="control-label" for="input-themes" translate>CONTRIBUTE_THEMES_LABEL</label>
			<select ng-options="c.slug as c.title for c in themes" 
			        selectpicker
					id="input-themes" 
					ng-model="story.themes" 
					multiple></select>	
		</div>
		<div class="form-group">
			<label class="control-label" for="input-source" translate>CONTRIBUTE_SOURCE_LABEL</label>
			<input type="url" required class="form-control" ng-model="story.source" id="input-source" placeholder="http://..." />
		</div>
	</fieldset>


	<ul ng-if="errors" class="alert alert-danger list-unstyled">
		<li ng-repeat="(field,error) in errors">
			<h4 class="bottom0"><strong>[[field]]</strong></h4>
			[[error.join(" ")]]
		</li>
	</ul>

	<div class="panel-footer" ng-hide="isDone()">
		<div class="row top10">
			<div class="col-xs-6 col-sm-3 text-left">
				<button type="button" class="btn btn-default" ng-show="step > 0 && step < stepCount" ng-click="step = step - 1">
					[[ 'CONTRIBUTE_PREVIOUS_BUTTON' | translate ]]
				</button>
			</div>
			<div class="hidden-xs col-sm-6">
				<div class="progress top05">
	 				<div class="progress-bar" role="progressbar" ng-style="progressStyle()"></div>
	 			</div>
			</div>
			<div class="col-xs-6 col-sm-3 text-right">
				<button type="button" class="btn btn-primary" ng-disabled="!getForm().$valid" ng-show="step < stepCount-1" ng-click="step = step + 1">
					[[ 'CONTRIBUTE_CONTINUE_BUTTON' | translate ]]
				</button>
				<button type="submit" class="btn btn-primary" ng-disabled="!contribForm.$valid" ng-show="step == stepCount-1" translate>
					CONTRIBUTE_SUBMIT_BUTTON
				</button>
			</div>
		</div>
	</div>

</form>