<div ng-controller="filterCtrl" 
     class="filters" 
     ng-show="Page.hasFilters"
     ng-class="{ showFilters: filter_visible }">

    <div class="container">
        <div class="filter-bar row" ng-class="getClass()">
            <div class="col-sm-7">
                <div ng-if="isVisible(filters.country)" class="filter col-sm-4 form-group">
                    <label class="control-label sr-only" for="input-country">Country</label>
                    <select ng-options="c.key as c.value for c in country_list"
                            id="input-country"
                            ng-model="filters.country.value"
                            selectpicker
                            data-container="body"
                            title="Choose a country"
                            ng-change="resetComparison()">
                    </select>
                </div>  
                <div ng-if="isVisible(filters.currency)" class="filter col-sm-4 form-group">
                    <label class="control-label sr-only" for="input-currency">Currency</label>
                    <select ng-options="c.key as c.value for c in currency_list"
                            id="input-currency"
                            ng-model="filters.currency.value"
                            selectpicker
                            data-container="body"
                            title="Choose a currency"
                            ng-change="resetComparison()">
                    </select>
                </div>

                <div ng-if="isVisible(filters.themes)" class="filter col-sm-4 form-group">
                    <label class="control-label sr-only" for="input-themes">Themes</label>
                    <select ng-options="c.key as c.value for c in theme_list" 
                            selectpicker
                            data-container="body"
                            title="Choose themes"
                            id="input-themes" 
                            ng-model="filters.themes.value"
                            multiple
                            ng-change="resetComparison()">
                    </select>
                </div>
            </div>
            <div class="col-sm-5">
                <div ng-if="isVisible(filters.onlySticky)" class="filter col-sm-6 form-group">
                    <label class="control-label checkbox">
                        Only sticky stories            
                        <input type="checkbox"
                                id="input-sticky"
                                ng-model="filters.onlySticky.value"
                                ng-change="resetComparison()"/>
                    </label>
                </div>
                <div ng-if="isVisible(filters.title)" class="filter form-group col-sm-6 compare">
                    <label class="control-label sr-only" for="input-title">Title</label>
                    <input type="text" data-container="body" class="form-control"
                            ng-model="filters.title.value" typeahead-editable="false"
                            typeahead="story.title for story in search.results | filter:relevanceFilter | filter:$viewValue | limitTo:8"
                            placeholder="Compare with a story"
                            typeahead-on-select="resetFilters()" />
                </div>
            </div>
        </div>

        <div class="opened-tab">
            <div class="open-filter-bar">
                <button class="btn btn-secondary" ng-click="toggleFilters()">
                    <i class="icon-caret-up" ng-show="filter_visible" ></i>
                    <i class="icon-caret-down" ng-hide="filter_visible" ></i>
                    filters
                </button>
            </div>
        </div>
    </div>
</div>