<div ng-controller="filterCtrl"
     class="filters">
    <div class="filter-bar row">
        <div class="filter col-sm-3 form-group">
            <label class="control-label" for="input-country">Country</label>
            <span>selected: [[ filters.country.value ]]</span>
            <select ng-options="c.iso_code as c.name for c in country_list"
                    id="input-country"
                    ng-model="filters.country.value"
                    ng-change="filter()"
                    selectpicker>
            </select>
        </div>  
        <div class="filter col-sm-3 form-group">
            <label class="control-label" for="input-currency">Curency</label>
            <select ng-options="c.iso_code as c.name for (iso_code, c) in currency_list"
                    id="input-currency"
                    ng-model="filters.currency.value"
                    ng-change="filter()"
                    selectpicker>
            </select>
        </div>

        <div class="filter col-sm-3 form-group">
            <label class="control-label" for="input-themes">Themes</label>
            <select ng-options="c.slug as c.title for c in theme_list" 
                    selectpicker
                    id="input-themes" 
                    ng-model="filters.themes.value"
                    ng-change="filter()"
                    multiple></select>
        </div>
        <div class="filter col-sm-3 form-group">
            <label class="control-label" for="input-sticky">Only sticky stories ?</label>
            <input type="checkbox"
                    selectpicker
                    id="input-sticky"
                    ng-model="filters.onlySticky.value"
                    ng-change="filter()"
                    />
        </div>
    </div>
    <div class="filters-activated row" ng-if="!_.isEmpty(getActivatedFilters())">
        <ul>
            <li class="filter-activated"
                ng-repeat="f in getActivatedFilters()">
                <a ng-click="removeFilter(f)">&#215;</a>
                <span>[[f.name]]: [[f.value]]</span>
            </li>
            <li class="filter-activated"
                ng-repeat="t in filters.themes.value">
                <a ng-click="removeTheme(t)">&#215;</a>
                <span>Theme: [[t]]</span>
            </li>
        </ul>
    </div>

</div>