<header ng-controller="HeaderCtrl" ng-class="getHeaderClass()" stick-to-top>		
	<div class="container">
		<h1>
			<a ng-href="/">Spending Stories</a>
			<i>by <a href="http://www.okf.org/" target="_blank">OKF</a></i>
		</h1>	
	
		<ul class="list-inline links pull-right">
			<li>
				<a ng-href="#/contribute/">
					<i class="icon-edit"></i>
					Contribute
				</a>
			</li>
		</ul>

		<form  class="form-horizontal" role="form" ng-submit="search()">
			<div class="input-group">
				<input type="number" ng-required class="form-control" ng-model="query" placeholder="How much is it really?" />		
				<div class="input-group-btn relative">
					<div class="dropdown btn-group">
						<button type="button" class="btn btn-default dropdown-toggle currency" data-toggle="dropdown">
							<span class="right10">[[currency]]</span><span class="caret"></span>
						</button>
					    <ul class="dropdown-menu">
					     	<li>
					     		<a ng-click="currency = 'USD'">Dollars</a>
					     	</li>
					     	<li>
					     		<a ng-click="currency = 'GBP'">British pounds</a>
					     	</li>
					     	<li>
					     		<a ng-click="currency = 'EUR'">Euros</a>
					     	</li>
					    	<li class="disabled"><a>Yen</a></li>
					    </ul>
					</div>
					<input type="submit" class="btn btn-primary" value="Compare" />
				</div>
			</div>
			<span class="help-block">Example queries: 15 million euros, 12 billion yens, 4500000 PLN</span>
		
			<div class="filters row">
				<div class="filter col-sm-3 form-group">
					<label class="control-label" for="input-country">Country</label>
					<select ng-options="c.iso_code as c.name for c in countries"
							id="input-country"
							ng-model="filters.country"
							ng-change="search()"
							selectpicker>
					</select>
				</div>	
				<div class="filter col-sm-3 form-group">
					<label class="control-label" for="input-currency">Curency</label>
					<select ng-options="c.iso_code as c.name for (iso_code, c) in currencies"
							id="input-currency"
							ng-model="filters.currency"
							ng-change="search()"
							selectpicker>
					</select>
				</div>

				<div class="filter col-sm-3 form-group">
					<label class="control-label" for="input-themes">Themes</label>
					<select ng-options="c.slug as c.title for c in themes" 
					        selectpicker
							id="input-themes" 
							ng-model="filters.themes"
							ng-change="search()"
							multiple></select>
				</div>
				<div class="filter col-sm-3 form-group">
					<label class="control-label" for="input-sticky">Only sticky stories ?</label>
					<input type="checkbox" ng-options="c.slug as c.title for c in themes" 
					        selectpicker
							id="input-sticky"
							ng-model="filter_sticky"
							ng-change="search()"
							/>
				</div>
<!-- 			<ul ng-if="filters.length"
				class="filters-activated">
				<li class="filter-activated"
					ng-repeat="f in filters">
					<a ng-click="suppressFilter(f)">&#215;</a>
					<span>[[f.title]]</span>
				</li>
			</ul> -->

			</div>
		</form>
	</div>
</header>