<header class="reduce">		
	<div class="container">
		<h1>Spending Storie <i>by OKF</i></h1>	
		<form  class="form-horizontal" role="form" ng-submit="search()">
			<div class="input-group">
				<input type="search" class="form-control" ng-model="query" placeholder="How much is it really?" />		
				<div class="input-group-btn">
					<input type="submit" class="btn btn-primary" value="Compare" />
				</div>
			</div>
			<span class="help-block">Example queries: 15 million euros, 12 billion yens, 4500000 PLN</span>
		</form>
	</div>
</header>