<header ng-controller="headerCtrl" ng-class="getHeaderClass()" stick-to-top>
	<div class="container">
		<h1>
			<a ng-href="/" translate>HEADER_APP_TITLE</a>
			<i>
				<span translate>HEADER_AUTHOR_BY</span>
				<a href="http://www.okf.org/" target="_blank">OKF</a>
			</i>
		</h1>

		<ul class="list-inline links pull-right">
			<li>
				<a ng-href="#/contribute/">
					<i class="icon-edit"></i>
					<span translate>HEADER_CONTRIBUTE</span>
				</a>
			</li>
		</ul>

		<form  class="form-horizontal" role="form" ng-submit="search()">
			<div class="input-group">
				<input type="text" ng-required class="form-control"
					   ng-if="currenciesLoaded && language"
					   ng-model="user_query"
					   placeholder="How much is it really?"
					   typeahead="prop as (prop.number|humanizeValue:prop.currency) for prop in propositions($viewValue) | limitTo: 8"
					   typeahead-wait-ms="1"
					   typeahead-on-select="$parent.user_query = user_query; search()"
					   typeahead-input-formatter="user_query.number|humanizeValue:user_query.currency"/>
				<div class="input-group-btn relative">
					<input type="submit" class="btn btn-primary" value="Compare" />
				</div>
			</div>
			<span class="help-block" translate>HEADER_SAMPLE_QUERY</span>
		</form>

	</div>
    {% include "partials/filters.html" %}

</header>