<div ng-controller="scaleCtrl" class="scale-strats">
    <div class="preview-strat">
        <div ng-repeat="d in search.results|filter:{sticky: previewedStory.sticky}|orderBy:'current_value_usd'" class="row preview" ng-show="d.id == previewedStory.id">
            <div id="sharemodal-[[d.id]]" class="modal fade" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <div class="modal-sharing">
                                <h6>[[ 'SHARE_THIS_STORY_TITLE' | translate ]]</h6>
                                <input class="form-control" readonly="true" value="[[sharingAddress(d)]]" />
                                <h6>[[ 'EMBED_THIS_STORY_TITLE' | translate ]]</h6>
                                <textarea readonly="true" class="form-control">[[embedFrame(d)]]</textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="btn-nav col-xs-1">
                <span ng-if="search.results.length > 1">
                    <a ng-if="$first" class="disabled btn">
                        &#9664;
                    </a>
                    <a ng-if="!$first"
                       class="btn previous"
                       ng-click="previousStoryPreview()">
                        &#9664;
                    </a>
                </span>
            </div>

            <div class="col-xs-10">
                <div class="col-sm-3 col-md-2 tc bottom20">
                    <img ng-src="[[d.themes[0].image]]" ng-if="d.themes.length > 0" />              
                </div>                  

                <div class="col-sm-9 col-md-10">
                    <a data-toggle='modal' data-target="#sharemodal-[[d.id]]" class='clickable sharelink'>
                        <i class='icon-share'></i> [[ 'SHARE_STORY_BUTTON' | translate ]]
                    </a>
                    <h5 ng-cloak>
                        [[search.query|humanizeValue:search.currency]] 
                        [[d|queryEquivalent]]</h5>
                    <h4 class="top0">[[d.title]]</h4>
                    <p class="top10">[[d.description]]</p>
                    <p>
                        <span class="label label-warning">
                            <span translate>SCALE_COST</span>: [[d.value|humanizeValue:d.currency.iso_code]] 
                            <span translate>SCALE_COST_IN</span> [[d.year]]
                        </span>

                        <span class="label">
                            (≈[[d.current_value_usd|toQueryCurrency]] in [[d.inflation_last_year]])                                 
                            <span class="left05" ng-if="d.source">&#8212;</span>
                            <a href="[[d.source]]" ng-if="d.source" tooltip="[[d.source]]" class="left05" target="_blank" tooltip-append-to-body="true">
                                <span translate>SCALE_READ_STORY_BUTTON</span>
                                <!-- <span class="sr-only">source</span> -->
                            </a>
                        </span>
                    </p>
                    <ul class="list-inline" ng-if="d.themes">                               
                        <li ng-repeat="theme in d.themes" class="theme">                                
                            <img ng-src="[[theme.image]]" ng-if="theme.image" />
                            [[theme.title]]
                        </li>
                    </ul>
                </div>
            </div>
        
            <div class="btn-nav col-xs-1">
                <span ng-if="search.results.length > 1">
                    <a ng-if="!$last"
                       class="btn next"
                       ng-click="nextStoryPreview()">
                        &#9654;
                    </a>
                    <a ng-if="$last" class="disabled btn">
                        &#9654;
                    </a>
                </span>
            </div>
        </div>
    </div>
    <h3 ng-if="topStories.length"> <span ng-show="otherStories.length" translate>SCALE_TOP_STORIES_TITLE</span></h3>
    <div class="top-strat">
        <scale-points
            data="topStories"
            story="previewedStory.id"
            currency="search.currency"
            click="pointSelection"
            ruler="search.query"
            overview="true">
        </scale-points>
    </div>
    <h3 ng-if="otherStories.length"> <span ng-show="topStories.length" translate>SCALE_OTHER_STORIES_TITLE</span></h3>
    <div class="other-strat">
        <scale-points
            data="otherStories"
            ruler="search.query"
            currency="search.currency"
            story="previewedStory.id"
            click="pointSelection"
            point-height="16"
            point-width="16"
            overview="true">
        </scale-points>
    </div>
    <div ng-if="!topStories.length && !otherStories.length" class="text-center bottom20">
            <span translate>SCALE_NO_RESULTS_TEXT</span>
            <p class="text-muted" translate>
                TOO_MUCH_FILTERS
            </p>
    </div>
</div>