<div class="one-scale-points">
    <div class="points">
        <div class="point"
        	 ng-repeat="d in dataset"     	 
        	 ng-style="pointStyle(d)" 
        	 ng-click="click(d)" 
        	 ng-class="{'current': d.id == current}">
            <img ng-src="[[d.themes[0].image]]" ng-if="d.themes.length" />
        </div>
        <div class="ruler" ng-style="rulerStyle()" ng-class="rulerClass()">
    	   <span>[[rulerValue|humanizeValue:rulerCurrency]]</span>
        </div>
    </div>
    <div class="sep"></div>
    <div class="x-axis axis down">        
        <div class="tick"
             ng-repeat="t in ticks"
             ng-style="tickStyle(t)">
            <div class="axis-label" ng-class="axisLabelClass(t)">[[t|humanizeValue:rulerCurrency]]</div>
    </div>
</div>