<ul class="breadcrumb">
	<li>Search</li>
	<li>Your query for <strong>[[search.query|thousandSeparator]] [[search.currency]]</strong></li>	
</ul>
<tabset>
	<tab heading="Scale visualisation">
		<div class="scale-strats">
			
			<div class="preview-strat">
				<div ng-repeat="d in search.results|filter:{sticky: previewedStory.sticky}|orderBy:'current_value_usd'" class="preview" ng-show="d.id == previewedStory.id">	
				
					<img ng-src="[[d.themes[0].image]]" ng-if="d.themes.length > 0" class="pull-left right20" />				
				
					<h5 ng-if="isEquivalent(d)" class="bottom0">equivalent to</h5>

					<h4 class="top0">[[d.title]]</h4>
					<span class="label label-warning">
						[[d.value|number:2|thousandSeparator]]&nbsp;[[d.currency.iso_code]]
					</span>
					<span class="label">
						[[d.current_value_usd|number:2|thousandSeparator]] USD converted into query's currency in [[d.inflation_last_year]]

						<i class="icon-large icon-info-sign left10 clickable"
						tooltip-placement="right"
						tooltip-trigger="click"
						tooltip-html-unsafe='
						<ul class="list-unstyled tl">
							<li ng-if="d.year">Year : [[d.year]]</li>
							<li ng-if="d.source">Source : [[d.source]]</li>
						</ul>
						'></i>
					</span>
				
					<div class="btn-nav">
						<a ng-if="$first" class="disabled btn">
							&#9664;
						</a>
						<a ng-if="!$first" 
						   class="btn previous"
						   ng-click="previousStoryPreview()">
							&#9664;
						</a>
						<a ng-if="!$last" 
						   class="btn next"
						   ng-click="nextStoryPreview()">
							&#9654;
						</a>
						<a ng-if="$last" class="disabled btn">
							&#9654;
						</a>
					</div>
				</div>
			</div>			
			<h3>Top stories</h3>				
			<div class="top-strat">
				<scale-points
					ng-if="search.results.length"
					data="search.results"
					current="previewedStory.id"
					on-click="pointSelection"
					ruler-value="search.query_usd"
					filter="{sticky: true}"></scale-points>
			</div>

			<h3>Other stories</h3>
			<div class="other-strat">
				<scale-points
					ng-if="search.results.length"
					data="search.results"
					ruler-value="search.query_usd"
					current="previewedStory.id"
					on-click="pointSelection"
					point-height="7"
					point-width="7"
					filter="{sticky: false}"></scale-points>
			</div>

		</div>
	</tab>
	<tab heading="Cards visualisation" disabled="true">
		Tourte
	</tab>
</tabset>