<ul class="breadcrumb">
	<li>Search</li>
	<li>Your query for <strong>[[search.query|toQueryCurrency:search.currency]]</strong></li>	
</ul>
<tabset>
	<tab heading="Scale visualisation">
		<div class="scale-strats">
			
			<div class="preview-strat">
				<div ng-repeat="d in search.results|filter:{sticky: previewedStory.sticky}|orderBy:'current_value_usd'" class="row preview" ng-show="d.id == previewedStory.id">	
								
					<div class="btn-nav col-xs-1">
						<a ng-if="$first" class="disabled btn">
							&#9664;
						</a>
						<a ng-if="!$first" 
						   class="btn previous"
						   ng-click="previousStoryPreview()">
							&#9664;
						</a>
					</div>

					<div class="col-xs-10">
						<div class="col-sm-3 col-md-2 tc bottom20">
							<img ng-src="[[d.themes[0].image]]" ng-if="d.themes.length > 0" />				
						</div>					

						<div class="col-sm-9 col-md-10">
							<h5 ng-if="isEquivalent(d)" class="bottom0">[[search.query_usd|toQueryCurrency]] are equivalent to</h5>

							<h4 class="top0">[[d.title]]</h4>
							<span class="label label-warning">
								Cost: [[d.value|number:2|thousandSeparator]]&nbsp;[[d.currency.iso_code]] in [[d.year]]
							</span>
							<span class="label">
								(≈[[d.current_value_usd|toQueryCurrency]] in [[d.inflation_last_year]])

								<i class="icon-large icon-info-sign left10 clickable"
								tooltip-placement="right"
								tooltip-trigger="click"
								tooltip-html-unsafe='
								<ul class="list-unstyled tl">
									<li ng-if="d.year">Year : [[d.year]]</li>
									<li ng-if="d.source">Source : [[d.source]]</li>
								</ul>
								'></i>
							</span>
						</div>
					</div>
				
					<div class="btn-nav col-xs-1">
						<a ng-if="!$last" 
						   class="btn next"
						   ng-click="nextStoryPreview()">
							&#9654;
						</a>
						<a ng-if="$last" class="disabled btn">
							&#9654;
						</a>
					</div>

				</div>
			</div>			
			<h3>Top stories</h3>				
			<div class="top-strat">
				<scale-points
					ng-if="search.results.length"
					data="search.results"
					current="previewedStory.id"
					on-click="pointSelection"
					ruler-value="search.query_usd"
					ruler-currency="'USD'"
					filter="{sticky: true}"></scale-points>
			</div>

			<h3>Other stories</h3>
			<div class="other-strat">
				<scale-points
					ng-if="search.results.length"
					data="search.results"
					ruler-value="search.query_usd"
					current="previewedStory.id"
					on-click="pointSelection"
					point-height="16"
					point-width="16"
					filter="{sticky: false}"></scale-points>
			</div>

		</div>
	</tab>
	<tab heading="Cards visualisation" disabled="true">
		Tourte
	</tab>
</tabset>