<div class="summary" ng-cloack>	
	<div class="row">
		<div class="col-xs-6">
			<p class="text-muted" ng-if="mode == 'cards'" translate>SUMMARY_TEXT_CARDS</p>
			<p class="text-muted" ng-if="mode == 'scale'" translate>SUMMARY_TEXT_SCALE</p>
			<p><span translate>SUMMARY_YOUR_QUERY</span>&nbsp;
               <strong>[[search.query|humanizeValue:search.currency]]</strong>&nbsp;
               <span translate>SUMMARY_QUERY_REPRESENTS</span></p>
		</div>
		<div class="col-xs-6">			
            <div class="filters-activated row" ng-if="hasActivatedFilters()">
                <p class="text-muted" translate>SUMMARY_ACTIVE_FILTERS_TEXT</p>
                <ul class="list-inline">
                    <li class="filter-activated label label-default"
                        ng-repeat="f in getActivatedFilters()">
                        <a ng-click="removeFilter(f)">&#215;</a>
                        <span>[[f.name]]: [[f.value]]</span>
                    </li>
                    <li class="filter-activated label label-default"
                        ng-repeat="t in filters.themes.value">
                        <a ng-click="removeTheme($index)">&#215;</a>
                        <span><span translate>SUMMARY_THEME</span> [[t]]</span>
                    </li>
                </ul>
            </div>
       	</div>
	</div>
</div>