<div class="summary" ng-cloack>	
	<div class="row">
		<div class="col-xs-6">
			<p class="text-muted" ng-if="mode == 'cards'">Most relevant results.</p>	
			<p class="text-muted" ng-if="mode == 'scale'">Compared to other stories...</p>	
			<p>Your query for <strong>[[search.query|humanizeValue:search.currency]]</strong> represents:</p>
		</div>
		<div class="col-xs-6">			
            <div class="filters-activated row" ng-if="hasActivatedFilters()">
                <p class="text-muted">Active filters:</p>
                <ul class="list-inline">
                    <li class="filter-activated label label-default"
                        ng-repeat="f in getActivatedFilters()">
                        <a ng-click="removeFilter(f)">&#215;</a>
                        <span>[[f.name]]: [[f.value]]</span>
                    </li>
                    <li class="filter-activated label label-default"
                        ng-repeat="t in filters.themes.value">
                        <a ng-click="removeTheme($index)">&#215;</a>
                        <span>Theme: [[t]]</span>
                    </li>
                </ul>
            </div>
       	</div>
	</div>
</div>