language: python
python:
  - "2.6"
  - "2.7"
# command to install dependencies
env:
  - PYTHONPATH=./:libs/

install: "pip install -r requirements_core.txt"
# command to run tests
script: manage.py test api