@import 'vendor/bootstrap/bootstrap.less';
@import 'vendor/font-awesome/font-awesome.less';
@import 'tools.less';
@import 'bootstrap-overload.less';


@zindex-content: 100;
@zindex-header : @zindex-content+100;

header {
	
	padding:100px 10px;
	background:@body-bg;
	z-index:@zindex-header;	
	margin:auto;	
	.transition(padding-top 1s);
	.box-shadow(0 3px 0 0 fade(@body-bg, 40) );
	
	
	h1 {
		margin-bottom:15px;	
		.transition(1s);
		
		a, a:hover, a:focus, a:active { 
			color:inherit;
			text-decoration:none;
		}
		i {
			font-size:50%;
			color:@gray;
			font-style:normal;
		}
	}

	form {
		.transition(1s);
		margin-top:15px;		
		
		.currency:first-letter {
			text-transform:uppercase;
		}
	}

	.links {
		font-size:80%;
		margin:10px;
		font-weight:bold;
		text-shadow:1px 1px 0 white;
	}

	&.reduce {
		position:fixed;
		top:0;
		left:0; 
		right:0;
		width:auto;	
		padding:0 10px;

		h1 {
			float:left;
			margin:0;	
			margin-right:20px;
			font-size:150%;	
			line-height:50px;
		}
	
		form {
			margin-top:5px;
			margin-bottom:5px;
			.help-block { display:none; }
		}	

		.links {
			margin-top:15px;
		}

	}
}

#content {
	margin-top:80px;
	margin-bottom:40px;
	
	.scale-strats {

		overflow:hidden;
		
		.preview-strat {

			padding:30px 15px;	
			padding-bottom:0;
			position:relative;
				
			h5 {
				color:@gray-light;
			}

			.label {
				white-space: normal;				
			}

			.theme {				
				background:#403F3F;
				font-size:80%;
				border-radius:16px;
				padding:1px;
				padding-left:25px;
				padding-right:10px;
				margin-right:10px;
				position:relative;
				
				img {
					width:16px;					
					height:16px;					
					position:absolute;
					top:50%;
					left:3px;
					margin-top:-16px/2px;
				}
			}

			.source {
				color:white;
				&:hover { text-decoration:none; }
			}

			.btn-nav {
				
				text-align:center;
				white-space:nowrap;
				padding:0;
				
				a {
					padding:0;
					margin:0;
					margin-top:30px;
					margin-bottom:10px;
					color:white;	
					font-size:200%;
				}
			}
		}

		.top-strat, .other-strat {
			clear:left;
			background:#403F3F;			
			border-bottom:darken(#403F3F, 10) 3px solid;
			overflow:auto;
			z-index:@zindex-content+50;
			position:relative;
			
			.one-scale-points {				

				min-height:70px;
				min-width:600px;
				margin-top:20px;
				margin-bottom:15px;				
				margin-left:5px;
				margin-right:30px;
				
				.point {			
					background:#BFBDBC;
					border-radius:1px;
					cursor:pointer;
					.box-shadow(0 2px 3px 0 darken(#403F3F, 10));
					
					img {
						max-width:100%;
						max-height:100%;
						position:absolute;
						top:0;
						left:0;
					}

					&.current:after {
						position:absolute;
						bottom:0;
						top:0;
						left:0;
						right:0;
						border:3px @brand-warning solid;
						content:"";
					}
				}

				.ruler {
					width:1px;
					margin-top:-5px;
					margin-left:-1px/2px;
					background:@brand-primary;
					.box-shadow(1px 0 2px 0 mix(@brand-primary, #000));
					
					&:before, &:after {
						content:"";
						position:absolute;
						left:-3px;
						width:7px;
						height:7px;
						border-radius:7px;
						background:@brand-primary;		
					}
					
					&:before { bottom:100%; }
					&:after { top:100%; }

					span {
						white-space:nowrap;
						position:absolute;
						left:15px;
						top:50%;
						height:20px;
						line-height:20px;
						padding:0 5px;
						font-size:14px;
						color:#fff;
						font-weight:bold;
						margin-top:-20px/2px;
						background:@brand-primary;
						border-radius:0 1px 1px 0;
						
						&:before {
							border:20px/2px solid transparent;
							border-right-color:@brand-primary;
							position:absolute;
							right:100%;
							top:0;
							content:"";
						}
					}

					&.to-left span {

						right:15px;
						left:auto;
						
						&:before {
							border-color:transparent;
							border-left-color:@brand-primary;
							position:absolute;
							left:100%;
							right:auto;
						}
					}	
						
				}
			}
		}

		h3 {
			z-index:@zindex-content+100;			
			text-align:center;
			text-transform:uppercase;			
			margin-top:20px;
			margin-bottom:0;
			margin-left:0;
			font-size:95%;
			font-weight:bold;
			position:relative;			
			padding:10px;
			background:transparent;
			
			
			&:after {
				content:"";
				position:absolute;
				top:100%;
				left:50%;
				margin-left:-10px;
				border:transparent 10px solid;				
				border-top-color:#333232;
			}		
		}
	}	


	.contribute {
		
		.steps-nav {
			
			margin-bottom:50px;
			
			li.disabled {				
				color:#aaa;
			}
		}
	}

}

footer  {
	padding-bottom:40px;
	.opacity(0.2);
	.transition(opacity 0.7s);
	&:hover {
		.opacity(1);		
	}
	
	.col {
		padding-top:20px;
		
		@media (min-width: @screen-desktop) {			
			text-align:right;
		}

		@media (min-width: @screen-phone) {			
			text-align:center;
		}
	}
}