@import 'vendor/bootstrap/bootstrap.less';
@import 'vendor/font-awesome/font-awesome.less';
@import 'tools.less';
@import 'bootstrap-overload.less';
@import 'vendor/bootstrap-select.less';


@zindex-content: 100;
@zindex-header : @zindex-content+100;
@zindex-filter : @zindex-header + 10;

header {
	
	@reduce-bg:darken(@body-bg, 3%);
	@reduce-border:darken(@reduce-bg, 6%);

	padding:100px 10px;
	background:@body-bg;
	z-index:@zindex-header;	
	margin:auto;	

	.transition(padding-top 1s);
	.box-shadow(0 3px 0 0 fade(@body-bg, 40) );	
	
	
	h1 {
		margin-bottom:15px;	
		.transition(1s);
		
		a, a:hover, a:focus, a:active { 
			color:inherit;
			text-decoration:none;
		}
		i {
			font-size:50%;
			color:@gray;
			font-style:normal;
		}
	}

	form {
		.transition(1s);
		margin-top:15px;		
		
		.currency:first-letter {
			text-transform:uppercase;
		}
	}

	.links {
		font-size:80%;
		margin:10px;
		font-weight:bold;
		text-shadow:1px 1px 0 white;
	}

	&.reduce {
		position:fixed;
		top:0;
		left:0; 
		right:0;
		width:auto;	
		padding:0;
		padding-top:5px;
		background:@reduce-bg;
		border-bottom:1px solid @reduce-border;

		h1 {
			float:left;
			margin:0;	
			margin-right:20px;
			font-size:150%;	
			line-height:50px;
		}
	
		form {
			margin-top:5px;
			margin-bottom:5px;
			.help-block { display:none; }
		}	

		.links {
			margin-top:15px;
		}
		.filters {
			display: block;
		}
	}

	.filters {

		z-index: @zindex-filter;
		display: none;
		min-width: 600px;

		.row, .form-group {
			margin: 0;
		}

		.filter-bar {
			position: relative;
			z-index: @zindex-filter + 10;
			overflow: hidden;

			.filter {
				.transition(0.7s ease);		
				margin-top:-100px;
				padding-top:10px;
			}
		}

		&.showFilters .filter {
			margin-top:0px;			
		}

		&.showFilters, &.hasFilters {			
			border-top:1px solid @reduce-border;
		}

		.opened-tab {
			z-index: @zindex-filter + 20;
			text-align: center;	

			.filters-activated {
				padding-top:10px;		
				text-align: left;

				ul {
					display: inline-block;
										
					.label {
						margin-left: 5px;
						padding-right:30px;
						position:relative;

						a {
							color:white;
							display:block;
							position:absolute;
							right:0;
							top:0;
							bottom:0;
							padding:0 5px;
							line-height:20px;
							background:fade(#fff, 15%);						
						}
					}
				}

				a:hover{ 
					cursor: pointer;
				}
			}

			.open-filter-bar {
				position:absolute;
				top:100%;
				left:0; 
				right:0;
				margin-top:-2px;

				button {				
					background: @reduce-bg;				
					border:1px solid @reduce-border;
					border-top:0;
					color: #000;
					padding:2px 5px;
					font-size:14px;
					i {
						margin-right:5px;
					}
				}
			}

		}
	}
}

#content {
	margin-top:95px;
	margin-bottom:40px;
	position:relative;
	z-index:@zindex-content;
	
	.scale-strats {

		overflow:hidden;
		
		.preview-strat {

			padding:30px 15px;	
			padding-bottom:0;
			position:relative;
				
			h5 {
				color:@gray-light;
			}

			.label {
				white-space: normal;				
			}

			.theme {				
				background:#403F3F;
				font-size:80%;
				border-radius:16px;
				padding:1px;
				padding-left:25px;
				padding-right:10px;
				margin-right:10px;
				position:relative;
				
				img {
					width:16px;					
					height:16px;					
					position:absolute;
					top:50%;
					left:3px;
					margin-top:-16px/2px;
				}
			}

			.source {
				color:white;
				&:hover { text-decoration:none; }
			}

			.btn-nav {
				
				text-align:center;
				white-space:nowrap;
				padding:0;
				
				a {
					padding:0;
					margin:0;
					margin-top:30px;
					margin-bottom:10px;
					color:white;	
					font-size:200%;
				}
			}
		}

		.top-strat, .other-strat {
			@main-color: #403F3F;
			@shadow-color: darken(@main-color, 10);
			@graduation-color: lighten(@main-color, 65);

			clear:left;
			background:@main-color;			
			overflow:auto;
			z-index:@zindex-content+50;
			position:relative;
			
			.one-scale-points {				
				min-width:600px;
				
				.points {
					position: relative;
					min-height:70px;

					margin-top:20px;
					margin-bottom: 15px;
			

				}
				.point {			
					background:#BFBDBC;
					border-radius:1px;
					cursor:pointer;
					.box-shadow(0 2px 3px 0 darken(#403F3F, 10));
					
					img {
						max-width:100%;
						max-height:100%;
						position:absolute;
						top:0;
						left:0;
					}

					&.current:after {
						position:absolute;
						bottom:0;
						top:0;
						left:0;
						right:0;
						border:3px @brand-warning solid;
						content:"";
					}
				}

				.ruler {
					width:1px;
					margin-top:-5px;
					margin-left:-1px/2px;
					background:@brand-primary;
					.box-shadow(1px 0 2px 0 mix(@brand-primary, #000));
					.transition(left 1s);
					
					&:before, &:after {
						content:"";
						position:absolute;
						left:-3px;
						width:7px;
						height:7px;
						border-radius:7px;
						background:@brand-primary;		
					}
					
					&:before { bottom:100%; }
					&:after { top:100%; }

					span {
						white-space:nowrap;
						position:absolute;
						left:15px;
						top:50%;
						height:20px;
						line-height:20px;
						padding:0 5px;
						font-size:14px;
						color:#fff;
						font-weight:bold;
						margin-top:-20px/2px;
						background:@brand-primary;
						border-radius:0 1px 1px 0;
						
						&:before {
							border:20px/2px solid transparent;
							border-right-color:@brand-primary;
							position:absolute;
							right:100%;
							top:0;
							content:"";
						}
					}

					&.to-left span {

						right:15px;
						left:auto;
						
						&:before {
							border-color:transparent;
							border-left-color:@brand-primary;
							position:absolute;
							left:100%;
							right:auto;
						}
					}	
						
				}
			}

			.axis {
				@padding-top: 2px;
				@border-top-width: 1px;
				@label-width: 200px;

				overflow:hidden;
				position: relative;
				height: 30px;

				width: 100%;
				border-bottom: solid 3px @shadow-color;

				.tick {
					height: 30%;
					bottom:0;
					width: 0px;
					border:solid 5px transparent;
					border-bottom-color:@shadow-color;	

					&.small {					
						height: 30%;
						background:#403F3F;
					}

					&:first-child {
						.axis-label {
							left: 0px;							
							text-align: left;
						}
					}

					.axis-label {
						font-weight: bold;
						color: lighten(@graduation-color, 20);
						font-size: 0.70em;
						min-width: @label-width;
						text-align: center;
						position: relative;
						bottom: 100%;
						top:-20px;
						left:  -(@label-width / 2);
						&.aligned-right {
							left: -@label-width;
							text-align: right
						}									
					}

				}
			}
		}

		h3 {
			z-index:@zindex-content+100;			
			text-align:center;
			text-transform:uppercase;			
			margin-top:20px;
			margin-bottom:0;
			margin-left:0;
			font-size:95%;
			font-weight:bold;
			position:relative;			
			padding:10px;
			background:transparent;
			
			
			&:after {
				content:"";
				position:absolute;
				top:100%;
				left:50%;
				margin-left:-10px;
				border:transparent 10px solid;				
				border-top-color:#333232;
			}		
		}
	}	

	.cards-content {
		@cards-width: 190px;
		@cards-padding: 15px;
		@cards-bg-col: #403f3f;
	
		.row { margin: 0; }
		.cards-grid {
			margin-bottom: 10px;
			padding-top:  40px;
			padding-left:  35px;
		}
		.card {
			position: relative;
			margin-right: 30px;
			margin-bottom: 25px;
			width: @cards-width;
			height: @cards-width;
			text-align: center;
			background: @cards-bg-col;
			.card-title {
				font-size: 0.8em;
			}
			.card-infos {
				position: absolute;
				width: @cards-width - (@cards-padding *2);
				text-align: center;

				bottom: 15px;
				left: @cards-padding;

				img {
					display: inline-block;
					height: 85px;
					width: 85px;
				}
			}
		}
		.load-more {
			text-align: center;

		}

	}

	.contribute {
		
		.steps-nav {
			
			margin:20px 0;
						
			li.disabled {				
				color:#aaa;
			}
		}

		.steps-nav , fieldset {
			padding:20px;
		}
	}

	.sep {
		width: 100%;
	}

}

footer  {
	padding-bottom:40px;
	.opacity(0.2);
	.transition(opacity 0.7s);
	&:hover {
		.opacity(1);		
	}
	
	.col {
		padding-top:20px;
		
		@media (min-width: @screen-desktop) {			
			text-align:right;
		}

		@media (min-width: @screen-phone) {			
			text-align:center;
		}
	}
}