{% load compress %}
{% load staticfiles %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html ng-id="ng-app" ng-app="stories" ng-controller="pageCtrl" xmlns:ng="http://angularjs.org" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html ng-id="ng-app" ng-app="stories" ng-controller="pageCtrl" xmlns:ng="http://angularjs.org" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html ng-id="ng-app" ng-app="stories" ng-controller="pageCtrl" xmlns:ng="http://angularjs.org" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html ng-id="ng-app" ng-app="stories" ng-controller="pageCtrl" xmlns:ng="http://angularjs.org" class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title ng-bind="Page.title() + ' - Spending Stories'">Spending Stories</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,300|Roboto:400,300,700' rel='stylesheet' type='text/css'>
        {% block extracss %}{% endblock %}
        <script type="text/javascript">
            var STATIC_URL = window.STATIC_URL = window.STATIC_URL || "{% static '' %}";
        </script>
    </head>
    <body ng-cloak>        
        {% block content %}{% endblock %}           

        {% compress js %}    
            <script type="text/javascript" src="{% static 'js/vendor/jquery-1.9.1.js' %}"></script>
        {% endcompress %}
        {% block extrajs %}{% endblock %}

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>
    </body>
</html>