{% extends "base.html" %}
{% load staticfiles %}

{% block extracss %}
    <link rel="stylesheet" type="text/less" href="{% static 'less/base.less' %}">
{% endblock %}

{% block extrajs %}
    <script type="text/javascript"   src="{% static 'js/vendor/modernizr.custom.js' %}"></script>
    <script type="text/javascript"   src="{% static 'js/vendor/angular/angular.js' %}"></script>
    <script type="text/javascript"   src="{% static 'js/vendor/angular/angular-cookies.js' %}"></script>
    <script type="text/javascript"   src="{% static 'js/vendor/angular/angular-resource.js' %}"></script>
    <script type="text/javascript"   src="{% static 'js/vendor/underscore-min.js' %}"></script>

    <script type="text/coffeescript" src="{% static 'js/controllers.coffee' %}"></script>
    <script type="text/coffeescript" src="{% static 'js/ExploreCtrl.coffee' %}"></script>
    <script type="text/coffeescript" src="{% static 'js/ContributeCtrl.coffee' %}"></script>
    <script type="text/coffeescript" src="{% static 'js/UserCtrl.coffee' %}"></script>
    <script type="text/coffeescript" src="{% static 'js/HeaderCtrl.coffee' %}"></script>
    <script type="text/coffeescript" src="{% static 'js/filters.coffee' %}"></script>
    <script type="text/coffeescript" src="{% static 'js/services.coffee' %}"></script>
    <script type="text/coffeescript" src="{% static 'js/app.coffee' %}"></script>    
    <script type="text/coffeescript" src="{% static 'js/directives.coffee' %}"></script>
{% endblock %}

{% block content %}
    <div ng-app="detective" id="ng-app" watch-login-mandatory>        
        {% include "partials/header.dj.html" %}
        <div ng-view id="content"></div>
    </div>
{% endblock %}
