{% extends "base.html" %}
{% load staticfiles %}

{% block extracss %}
    <link rel="stylesheet" type="text/less" href="{% static 'less/base.less' %}">
{% endblock %}

{% block extrajs %}
    <script type="text/javascript"   src="{% static 'js/vendor/modernizr.custom.js' %}"></script>
    <script type="text/javascript"   src="{% static 'js/vendor/angular/angular.js' %}"></script>
    <script type="text/javascript"   src="{% static 'js/vendor/angular/angular-cookies.js' %}"></script>
    <script type="text/javascript"   src="{% static 'js/vendor/angular/angular-resource.js' %}"></script>
    <script type="text/javascript"   src="{% static 'js/vendor/angular/ui-bootstrap-custom-tpls-0.5.0.js' %}"></script>
    <script type="text/javascript"   src="{% static 'js/vendor/angular/restangular.js' %}"></script>
    <script type="text/javascript"   src="{% static 'js/vendor/underscore-min.js' %}"></script>
    <script type="text/javascript"   src="{% static 'js/vendor/bootstrap.js' %}"></script>
    <script type="text/javascript"   src="{% static 'js/vendor/bootstrap-select.js' %}"></script>
    <script type="text/javascript"   src="{% static 'js/vendor/humanize.js' %}"></script>
    <script type="text/javascript"   src="{% static 'js/vendor/d3.v3.js' %}"></script>

    <script type="text/coffeescript" src="{% static 'coffee/app.coffee' %}"></script>    
    <script type="text/coffeescript" src="{% static 'coffee/filters.coffee' %}"></script>
    <script type="text/coffeescript" src="{% static 'coffee/services/Meta.coffee' %}"></script>
    <script type="text/coffeescript" src="{% static 'coffee/services/Currency.coffee' %}"></script>
    <script type="text/coffeescript" src="{% static 'coffee/services/Search.coffee' %}"></script>
    <script type="text/coffeescript" src="{% static 'coffee/controllers/HeaderCtrl.coffee' %}"></script>
    <script type="text/coffeescript" src="{% static 'coffee/controllers/SearchCtrl.coffee' %}"></script>
    <script type="text/coffeescript" src="{% static 'coffee/controllers/ContributeCtrl.coffee' %}"></script>
    <script type="text/coffeescript" src="{% static 'coffee/directives/ScalePoints.coffee' %}"></script>
    <script type="text/coffeescript" src="{% static 'coffee/directives/StickToTop.coffee' %}"></script>
    <script type="text/coffeescript" src="{% static 'coffee/directives/SelectPicker.coffee' %}"></script>
{% endblock %}

{% block content %}
    <div ng-app="stories" id="ng-app">        
        {% include "partials/header.html" %}
        <div ng-view id="content" class="container"></div>
        <footer>            
            <div class="container">            
                <div class="row">
                    <div class="col-sm-6 col-md-3 col-md-offset-6 col">
                        <a href="http://okfn.org" target="_blank">
                            <img src="{% static 'img/okfn-logo.png' %}" />
                        </a>
                    </div>
                    <div class="col-sm-6 col-md-3 col">                    
                        <a href="http://jplusplus.org" target="_blank">
                            <img src="{% static 'img/jpp-logo.png' %}" />
                        </a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
{% endblock %}